.card {
    background-color: white;
    width: 85%;
    height: 36vh;
    margin: 2vw 0 4vw 0;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__status {
        height: 6vh;
        width: 100%;
        border: none;
        border-radius: 0 0 1vw 1vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 1.7vw;
    }
    &__br {
        height: 1px;
        background-color: rgb(189, 189, 189);
        margin-bottom: 1vw;
    }
    &__title {
        margin: 1vw;
    }
    &__text {
        font-size: 1.1vw;
        margin: 2.2vw 1vw;
    }
    &__date {
        background-color: rgb(189, 189, 189);
        color: white;
        padding: 0.5vw 2vw;
        border-radius: 2vw;
        margin: 0 0 0 15vw;
    }
}
.tag {
    border-radius: 1vw;
    padding: 0.3vw 2vw;
    margin: 0 1vw;
    &__container {
        display: flex;
    }
}
.delete {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__button {
        background-color: transparent;
        border: none;
        font-size: 2vw;
    }
}
.edit {
    &__button {
        background-color: white;
        border: 1px solid;
        border-radius: 0.2vw;
    }
    &__input {
        font-size: 1.1vw;
        width: 96%;
        margin: 2vw 0 2vw 0.4vw;
    }
}
